<h1> User Home </h1>

<br>
    <% flash.each do |type, msg| %>
        <h2>
        <%= msg %>
        </h2>
    <% end %>

<br>
<h3>Choose an Adventure!</h3>
   <%= link_to "Adventures Index", adventures_path %>
