<h1> User Home </h1>
    <% if admin%>
        <%= link_to "Create Adventure", new_adventure_path %> 
    <%end%>
<br>
    <%= link_to "Add Party Member!", new_user_character_path(@user) %> 
<br>


    <%= adventure_index %> 
        
        
    
<%# Add character nested form to user sign up%>