<h1> User Home </h1>
<% if admin%>
    <%= link_to "Create Adventure", new_adventure_path %> 
    <%end%>

<%= link_to "Create Your Character", new_character_path %> 

<%# Add character nested form to user sign up%>